@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ffe060;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    display: flexbox;
    background-color: #ffc060;
    margin-bottom: 50px;
}

ul{
    display: inline-block;
    padding: 0;
    flex: 1;
    margin: 0;
}

ul li{
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;

    
}

.Logo-thing{
    font-size: 33px;
    font-weight: bold;
    flex: 1;
    margin: 0;
    display: inline;
}

h1{
    display: inline-block;
    margin: 0 10%;
}

/*Home button on the nav bar*/
.Home{
    margin-left: 600px;
}

.Home:hover{
    color: #eeeeee;
}

/*About buttonon the nav bar*/

.About:hover{
    color: #eeeeee;
}

/*Careers button on the nav bar*/
.Careers:hover{
    color: #eeeeee;
}

a{
    color: #000000;
}


.img{
    height: auto;
    width: 80%;
    margin: 0 10%;
}

p{
    display: inline-block;
    margin: 20px 10%;
    width: 80%;
}